<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1">
  <test name="Test">
    <classes>
      <class name="testCases.Test_Case002"/>
      <class name="testCases.Test_Case003"/>
      <class name="testCases.Test_Case004"/>
      <class name="testCases.Test_Case005"/>
      <class name="testCases.Test_Case006"/>
      <class name="testCases.Test_Case007"/>
      <class name="testCases.Test_Case008"/>
      <class name="testCases.Test_Case009"/>
      <class name="testCases.Test_Case010"/>
      <class name="testCases.Test_Case011"/>
      <class name="testCases.Test_Case012"/>
      <class name="testCases.Test_Case013"/>
      <class name="testCases.Test_Case014"/>
      <class name="testCases.Test_Case015"/>
      <class name="testCases.Test_Case016"/>
      <class name="testCases.Test_Case017"/>
      <class name="testCases.Test_Case018"/>
	  <class name="testCases.Test_Case019"/>      
      <class name="testCases.Test_Case020"/>
      <class name="testCases.Test_Case021"/>
      <class name="testCases.Test_Case022"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
